@import '_settings.scss';
.stocks-table {
    list-style: none;
    margin-right: 30px;
}

.stock-wrapper {
    background: #404040;
    padding: 10px;
    color: #CDD2D4;
    margin-bottom: 10px;
}

.stock-symbol {
    font-size: 2em;
    font-weight: bold;
    display: inline-block;
}

.stock-delete-button {
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
    text-align: right;
    background-color: darkred;
    padding: 10px;
    border-radius: 5px;
    color: white;
    &:hover {
        background-color: firebrick;
    }
    font-weight: bolder;
    font-size: 1.2em;
    vertical-align: top;
}

.stock-description {
    margin-top: 10px;
    font-size: 1.2em;
}

.stock-table-wrapper, .stock-chart-wrapper{
    display: inline-block;
}

.stock-chart-wrapper {
    vertical-align: top;
    @include breakpoint(medium) {
        margin: 20px 0 0 20px;
    }
}

.stock-table-wrapper {
    @include breakpoint(medium) {
        margin-left: 20px;
    }
    @include breakpoint(small) {
        margin-top: 20px;
    }
}