.stocks-table {
    list-style: none;
    margin-right: 30px;
}

.stock-wrapper {
    background: #404040;
    padding: 10px;
    color: #CDD2D4;
    margin-bottom: 10px;
}

.stock-symbol {
    font-size: 2em;
    font-weight: bold;
    display: inline-block;
}

.stock-created-at {
    display: inline-block;
    margin-left: 20px;
    text-align: right;
    width: 70%;
}

.stock-description {
    display: inline-block;
    margin-top: 10px;
    font-size: 1.2em;
}

.stock-table-wrapper, .stock-chart-wrapper{
    display: inline-block;
}

.stock-chart-wrapper {
    vertical-align: top;
    margin: 20px 0 0 20px;
}

.stock-table-wrapper {
    margin-left: 20px;
}