.stocks-table {
    list-style: none;
    margin-right: 30px;
}

.stock-wrapper {
    background: #404040;
    padding: 10px;
    color: #CDD2D4;
    margin-bottom: 10px;
}

.stock-symbol {
    font-size: 2em;
    font-weight: bold;
}